.card-list {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  //text-align: center;
}

@media (max-width: 1530px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1030px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
