@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap");
.horizontal-ruler {
  height: 3px;
  background-color: aquamarine;
  margin: 0px;
  border: none;
}

.nav-sub-bar {
  background-color: black;
}

.nav-links-div {
  width: 100%;
  background-color: black;
  padding: 10px;
  padding-left: 3%;
  padding-right: 3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 7px;
}

.nav-links {
  color: rgba(211, 211, 211, 0.664);
  font-size: 1.2vw;
  font-family: "Sora";
  font-weight: 600;
}

.nav-links:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 950px) {
  .nav-links-div {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .nav-links {
    font-size: 2vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 640px) {
  .nav-links-div {
    display: none;
  }
}
/*# sourceMappingURL=navbar.styles.css.map */