.card_container {
  border: 10px solid #5e3a1d;
  -webkit-box-shadow: 10px 10px 10px gray;
          box-shadow: 10px 10px 10px gray;
  background-image: url("https://wallpaperaccess.com/full/2413176.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  padding: 25px;
}

.monster-name {
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
}

.monster-name-h1 {
  font-size: 1.5rem;
}

.monster-pic-stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr 0.5fr;
      grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-gap: 5%;
}

.stats-area {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px #000000;
          box-shadow: 2px 2px 2px #000000;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
}

.stat-name {
  font-size: 1rem;
  font-weight: bold;
}

.stat-value {
  font-size: 1rem;
}

.card_container:hover {
  -webkit-box-shadow: 25px 25px 25px #222222;
          box-shadow: 25px 25px 25px #222222;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card_img {
  border: 10px solid #5e3a1d;
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 420px) {
  .card_img {
    height: 150px;
    width: 150px;
  }
  .stat-name {
    font-size: 0.7rem;
    font-weight: bold;
  }
  .stat-value {
    font-size: 0.7rem;
  }
  .card_container {
    padding: 3px;
  }
}
/*# sourceMappingURL=card.css.map */